* {
    margin: 0%;
    padding: 0%;
    font-family: "Poppins", sans-serif;
}

/*anaPeque/*/
.containerAna {
    position:fixed;
    bottom: 2.5%;
    right: 1.5%;
    display: flex;
    z-index: 2;
    width: 100px;
    margin-top: 7px;
    height: 63px;
    border-radius: 10px 10px 10px 10px;
}
.ocuAna {
    display: none;
    position: none;
    pointer-events: none;
}
.fotoAna {
    right: 0;
    bottom: 0;
    width: 99px;
    height: 63px;
}
.ana {
    justify-content: center;
    display: flex;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/*ICONO X*/
.closeAna {
    position: fixed;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    right: 1.5%;
    bottom: 2.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 15px rgb(124, 132, 139);
}
.closeX:hover {
    background-color: white;
}
.closeX {
    display: flex;
    justify-content: center;
    align-items: center;
    right: 1.5%;
    bottom: 2.5%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgb(0, 93, 173);
    cursor: pointer;
}
.close {
    display: none;
}

.icon {
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    padding: 9px;
    border-radius: 54%;
}
.icon:hover {
    color: rgb(0, 93, 173);
}
.campoElemets {
    display: none;
    position: none;
    visibility: hidden;
}
.campoAna {
    position: absolute;
    display: flex;
    width: 420px;
    height: 72%;
    right: 1.7%;
    bottom: 105px;
    border-radius: 10px;
}
.containerElemets{
    box-shadow: 0px 32px 20px rgb(140, 149, 157);
    display: grid;
    width: 100%;
    height: 100%;
    grid-template: "cabezeraAna" 70px
                    "campoChat"1fr
                    "texAna" 28px/
                    100% ;
    border-radius: 12px;
    background-color:rgb(234, 238, 243);
}
/*HEADER TEXT ANA*/ 
.cabezeraAna {
    position: sticky;
    background-color: rgb(0, 93, 173);
    border-radius: 12px 12px 0px 0px;
    align-items: center;
    padding: 0px 0px 0px 14px;
    display: flex;
    grid-area: cabezeraAna;
}
.iconoAna{
    display: flex;
    width: 55px;
    height: 55px;
    left: 0;
}
.tituloHom{
    align-items: center;
    display: flex;
    color: white;
    margin-left: 14px;
    font-size: 1.2em;
    font-weight: 500;
}
.campoChat{
    grid-area: campoChat;
    margin: 3px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.mss1{
    width: 100%;
    height: 110px;
}
.foto{
    width: 100%;
    height: 100%;
    display:flex;
    align-items: center;
}
.anaInt{
    margin: 0px 0px 0px 40px;
    width: 100px;
    height: 100px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 2px 6px rgb(179, 186, 193);
}
.mss2{
    margin-top: 10px;
    width: 100%;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: left;
}
.texInt{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 10px;
    width: 270px;
    height: 120px;
    margin-left: 40px;
    background-color: white ;
    box-shadow: 4px 2px 6px rgb(179, 186, 193);
}
.texIntmss{
    border-radius: 10px;
    padding: 10px;
    font-size: 0.86em;
}
.texIntmss2{
    border-radius: 10px;
    padding: 10px;
    font-size: 0.9em;
    font-weight: 700;
}

.mss3{
    margin-top: 15px;
    width: 100%;
    height: 100%;
    display: flex;
    position: sticky;
    flex-direction: row;
    justify-content: space-between;
    background-color: orange;
    overflow-y:scroll;
}
.slider
{
    background-color: white;
    height: 130px;
    width: 330px;
    align-items: center;
    height: 140px;
    border-radius: 10px;
    margin-left: 40px;
    box-shadow: 4px 2px 6px rgb(179, 186, 193);
    display: flex;
    flex-direction: column;

}
.sliTex{
    margin: 15px 0px 12px 0px;
    font-size: 1em;
    color: blue;
    font-weight: 700;
}
.sliTex2{
    text-align: center;
    margin: 0px 10px 7px 10px;
    font-size: 0.8em;
}
.sliTex3{
    border-top: 2px solid rgb(124, 132, 139);
    width: 100%;
    height: 95%;
    font-size: 1em;
    color: rgb(0, 51, 255);
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    border-radius: 0px 0px 10px 10px;
}
.sliTex3:hover{
    color: white;
    background-color: rgb(153, 148, 241);
}




.texAna {
    grid-area: texAna;
    display: flex;
    justify-content: center;
    text-align: center;
    border-top: 2.5px solid rgb(0, 89, 255);
}

.tex1 {
    background-color:rgb(234, 238, 243);
    outline: none;
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 12px 12px;
    border: none;
    padding: 15px;
}







@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/poppins-v20-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/poppins-v20-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v20-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins-v20-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-800 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/poppins-v20-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }