* {
    margin: 0%;
    padding: 0%;
    font-family: Tahoma, sans-serif;
}

.header {
    justify-content: center;
    display: flex; 
    align-items: center;
}

.barra {
    height: 110px;
    width: 1120px;
    border-bottom: 2px solid rgba(48, 48, 48, 0.397);
    align-items: center;
    justify-content: center;
    text-align: center;
    display: grid;
    grid-template: "empty-1 logo  colec  men    women   nosotros   contacto   empty-2    carrito  foto  empty-3" auto /
                    1fr     250px 110px  110px  110px   110px      110px      1fr      70px 70px 1fr;
}

.logo,
.colec,
.men,
.women,
.nosotros,
.contacto,
.carrito {
    background-color: white;
}

.logo {
    grid-area: logo;
}

.colec {
    height: 20px;
    grid-area: colec;
}

.men {
    height: 20px;
    grid-area: men;
}

.women {
    height: 20px;
    grid-area: women;
}

.nosotros {
    height: 20px;
    grid-area: nosotros;
}

.contacto {
    height: 20px;
    grid-area: contacto;
}

.carrito {
    grid-area: carrito;
}

.foto {
    grid-area: foto;
}
.fotoMia {
    width: 54px;
    height: 54px;
    border-radius: 50%;
}

li {
    transition: padding 0.2s;
}

li:hover {
    cursor: pointer;
    padding-bottom: 42.2px;
    border-bottom: 4px solid rgb(255, 125, 26);
    transition: padding-bottom 0.2s;
}

.texto-grid {
    height: 100%;
    color: rgba(36, 36, 36, 0.877);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    cursor: pointer;
}

.icon-style {
    font-size: 1.5em;
    cursor: pointer;
}

/*IMAGENES DE TENIS MOVIMIENTO*/
.box-main {
    margin: 80px 230px;
    display: grid;
    grid-template: "img-box-main empty"640px/
        550px 1fr;
}
/* .img-box-main{
    grid-area: img-box-main;
} */

img {
    border-radius: 10px;
}
.img-box-main{
    display: grid;
    grid-template: "img-box    img-box    img-box    img-box    img-box    img-box    img-box"500px
                    "empty-0   empty-0    empty-0    empty-0    empty-0    empty-0    empty-0"33.8px
                    "box-mini1 empty-1    box-mini2  empty-2    box-mini3  empty-3    box-mini4" 90px/
                    106.25px 25px 106.25px 25px 106.25px 25px 106.25px;   
}

.img-box {
width: 100%;
    grid-area: img-box;
    cursor: pointer;
}

.img-mini {
    width: 100%;
    cursor: pointer;
}

.box-mini1 {
    grid-area: box-mini1;
}

.box-mini2 {
    grid-area: box-mini2;
}

.box-mini3 {
    grid-area: box-mini3;
}

.box-mini4 {
    grid-area: box-mini4;
}

.box-img-mini {
    border: 3px solid rgb(255, 125, 26);
    border-radius: 14px;
}

.img-mini-act {
    opacity: 0.4;
}
/* BOTON DE ADD CART */

.addCar{
    width: 330px;
    height: 65px;
    background-color:rgb(255, 125, 26) ;
    color: white;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    border-radius: 15px;
    font-weight: 700;
    margin: 20px;
}
.letrabntadd{
    padding-left: 2%;
}

/*suma y resta de productos*/
.buy-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    margin: 20px;
}
.cant-box {
    flex-direction: row;
    display: flex;
}

.icon-op {
    width: 50px;
    height: 50px;
    display: flex;
    background-color: rgb(210, 210, 210);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    border: 2px solid whitesmoke;
    cursor: pointer;
}

.valortotal {
    font-size: 1.7em;
    font-weight: 900;
}

.btn-restar {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: rgb(255, 125, 26);
    font-size: 2em;
}

.cant-obj {
    color: rgb(48, 48, 48);
    font-size: 1.3em;
}

.btn-sumar {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: rgb(255, 125, 26);
    font-size: 1.5em;
}
.textoPrincipal {
    width: 630px;
    height: 300px;
    background-color: rgb(255, 255, 255);

}

/*fondo ocsuro mio*/
/* .box-main-fondo{

}
.box-main-fondo{
    background-color: rgba(64, 64, 65, 0.8);
    height: 100vh;
    width: 100%;
    display: flex;
    position: fixed;

}
 */

/* fondo oscuro de atras adelante */

.lightbox {
    position: fixed;
    display: flex;
    background-color: rgba(64, 64, 65, 0.8);
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.light-hidden {
    display: none;
}

.main-lightbox {
    width: 840px; 
    background-color: aquamarine;
}

.box-img-light {
    background-color: brown;
   /*  position: relative;
    
    border-radius: 20px;
    z-index: 10; */
    display: grid;
    grid-template: "img-main-light img-main-light img-main-light img-main-light img-main-light img-main-light img-main-light "700px
    "empty-0   empty-0    empty-0    empty-0    empty-0    empty-0    empty-0"33.8px
    "box-mini5 empty-1    box-mini6  empty-2    box-mini7  empty-3    box-mini8" 90px/
    106.25px 25px 106.25px 25px 106.25px 25px 106.25px;  ;
}
.img-main-light{
    width: 700px;
        grid-area: img-main-light;
        cursor: pointer;
    }
    
    .img-mini-fondo {
        width: 100%;
        cursor: pointer;
    }
    
    .box-mini5 {
        grid-area: box-mini5;
    }
    
    .box-mini6 {
        grid-area: box-mini6;
    }
    
    .box-mini7 {
        grid-area: box-mini7;
    }
    
    .box-mini8 {
        grid-area: box-mini8;
    }

.btn-style {
    border-radius: 50%;
    height: 46px;
    width: 46px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(24, 24, 24);
    position: relative;
    top: 198px;
}

.btn-atras {
    left: -25px;
    z-index: 20;
    top: 190px;
}

.btn-right {
    z-index: 20;
    left: 96%;
    top: 144px;
}

.btn-salir {
    z-index: 20;
    top: -10px;
}

.style-btn {
    font-weight: 900;
    font-size: 1.3em;
}



