* {
    margin: 0%;
    padding: 0%;
    font-family: Tahoma, sans-serif;

}

.header {
    justify-content: center;
    display: flex; 
    align-items: center;
}

.barra {
    height: 110px;
    width: 1120px;
    border-bottom: 2px solid rgba(48, 48, 48, 0.397);
    align-items: center;
    justify-content: center;
    text-align: center;
    display: grid;
    grid-template: "empty-1 logo  colec  men    women   nosotros   contacto   empty-2    carrito  foto  empty-3" auto /
                    1fr     250px 110px  110px  110px   110px      110px      1fr      70px 70px 1fr;
}

.logo,
.colec,
.men,
.women,
.nosotros,
.contacto,
.carrito {
    background-color: white;
}

.logo {
    grid-area: logo;
}

.colec {
    height: 20px;
    grid-area: colec;
}

.men {
    height: 20px;
    grid-area: men;
}

.women {
    height: 20px;
    grid-area: women;
}

.nosotros {
    height: 20px;
    grid-area: nosotros;
}

.contacto {
    height: 20px;
    grid-area: contacto;
}

.carrito {
    grid-area: carrito;
}

.foto {
    grid-area: foto;
}
.fotoMia {
    width: 54px;
    height: 54px;
    border-radius: 50%;
}

li {
    transition: padding 0.2s;
}

li:hover {
    cursor: pointer;
    padding-bottom: 42.2px;
    border-bottom: 4px solid rgb(0, 183, 255);
    transition: padding-bottom 0.2s;
}

.texto-grid {
    height: 100%;
    color: rgba(36, 36, 36, 0.877);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    cursor: pointer;
}

.icon-style {
    font-size: 1.5em;
    cursor: pointer;
}

/*IMAGENES DE TENIS MOVIMIENTO*/

.box-main {
    margin: 100px 435px;
    display: grid;
    grid-template: "img-box-main empty"640px/
        550px 1fr;
}
/* .img-box-main{
    grid-area: img-box-main;
} */

img {
    border-radius: 10px;
}
.img-box-main{
    display: grid;
    grid-template: "img-box    img-box    img-box    img-box    img-box    img-box    img-box"500px
                    "empty-0   empty-0    empty-0    empty-0    empty-0    empty-0    empty-0"33.8px
                    "box-mini1 empty-1    box-mini2  empty-2    box-mini3  empty-3    box-mini4" 90px/
                    106.25px 25px 106.25px 25px 106.25px 25px 106.25px;   
}

.img-box {
width: 100%;
    grid-area: img-box;
    cursor: pointer;
}

.img-mini {
    width: 100%;
    cursor: pointer;
}

.box-mini1 {
    grid-area: box-mini1;
}

.box-mini2 {
    grid-area: box-mini2;
}

.box-mini3 {
    grid-area: box-mini3;
}

.box-mini4 {
    grid-area: box-mini4;
}

.box-img-mini {
    border: 3px solid rgb(0, 183, 255);
    border-radius: 14px;
}

.img-mini-act {
    opacity: 0.6;
}

/* BOTON DE ADD CART */
/*TEXTO DEL ENUNCIADOO*/
h3{
    padding: 15px;
    color: rgb(0, 183, 255);
    font-size: 1em;
}
h2{
    font-size: 2.8em;
    color: black;
    padding: 15px;
    margin-bottom: 40px;
}
.letratxt{
    font-size: 1em;
    width: 450px;
    color: rgba(52, 52, 52, 0.849);
    margin: 0px 0px 80px 0px;
    line-height: 25px;
    padding-left: 20px;

}

/*suma y resta de productos*/
.buy-box{
    
    padding-top: 20px;
    margin: 20px;
    display: inline;
}
.cant-box {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    display: flex;
}
.icon-op {
    width: 50px;
    height: 50px;
    display: flex;
    background-color: rgb(210, 210, 210);
    align-items: center;
    justify-content: center;
    font-weight: 900;
    border: 2px solid whitesmoke;
    cursor: pointer;
}
.valortotal {
    padding: 20px;
    font-size: 1.7em;
    font-weight: 900;
}
.btn-restar {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: rgb(0, 183, 255);
    font-size: 1.2em;
}
.cant-obj {
    color: rgb(48, 48, 48);
    font-size: 1.3em;
}
.btn-sumar {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: rgb(0, 183, 255);
    font-size: 1em;
}
.textoPrincipal {
    width: 630px;
    height: 300px;
    background-color: rgb(255, 255, 255);

}
.addCar{
    width: 330px;
    height: 65px;
    background-color:rgb(0, 183, 255) ;
    color: white;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    border-radius: 15px;
    font-weight: 700;
    margin: 20px;
    position: relative;
    cursor: pointer;
}
.addCar:hover{
    background-color: rgb(84, 207, 255);
}
.letrabntadd{
    padding-left: 2%;
}

/* fondo oscuro de atras adelante */

.lightbox {
    position: fixed;
    display: flex;
    background-color: rgba(0, 0, 0, 0.842);
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 20;
}
.light-hidden {
    display: none;
}
.main-lightbox {
    z-index: 20;
    width: 563px; 
    height: 890px;
    justify-content: center;
    align-items: center;
}
.box-img-light {
    position: absolute;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    z-index: 20;
    display: grid;
    grid-template: "img-main-light img-main-light  img-main-light img-main-light img-main-light img-main-light img-main-light img-main-light img-main-light"560px
    "empty-0 empty-0   empty-0    empty-0    empty-0    empty-0    empty-0    empty-0 empty-0"20px
    "empty-4 box-mini5 empty-1    box-mini6  empty-2    box-mini7  empty-3    box-mini8 empty-6"87px/
    1fr 90px 25px 90px 25px 90px 25px 90px 1fr; 
}
    .img-main-light{
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 570px;
    grid-area: img-main-light;
    cursor: pointer;
    }
    
    .img-mini-fondo {
        width: 100%;
        cursor: pointer;
    }
    
    .box-mini5 {
        grid-area: box-mini5;
    }
    
    .box-mini6 {
        grid-area: box-mini6;
    }
    
    .box-mini7 {
        grid-area: box-mini7;
    }
    
    .box-mini8 {
        grid-area: box-mini8;
    }

    .box-img-fondo {
        border: 3px solid rgb(0, 183, 255);
        border-radius: 14px;
        z-index: 100;
    }
    
    .img-fondo-act {
        opacity: 0.7;
    }
.btn-style {
    cursor: pointer;
    border-radius: 50%;
    height: 46px;
    width: 46px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(24, 24, 24);
    position: relative;
}
.btn-atras {
    left: -25px;
    z-index: 40;
    top: 356px;
}
.btn-right {
    z-index: 40;
    left: 97%;
    top: 310px;
}
.btn-salir {
    left: 93%;
    bottom: 0;
    z-index: 200;
    top: 80px;
}
.style-btn {
    font-weight: 900;
    font-size: 1.3em;
}