*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.in {
   
    background-color: rgb(77, 197, 245);  
    padding: 35px; 
  
}
.inicio{
float: left;
}
li {
    font-size: 25px;
    display: inline-block;
    color: rgb(0, 0, 0);
}
li:hover {
    background-color: rgb(144, 187, 187);
    color: rgb(255, 255, 255);
}

a {
    color: rgb(0, 0, 0);
    float: left;
}

h1 {
    padding-top: 30px;
    font-size: 30px;
    text-align: center;
}
.contenedor1 {
    justify-content: center;
    display: flex;
    text-align: center;
}
.box{ 
    justify-content: center;
    text-align: center;
    display: flex;
    margin: 50px;
    width: 280px;
    height: 280px;
    color: #ffffff;
    align-items: center;
    font-size: 150%;
    border-radius: 5%;
}

.box-1 {
    background-color: rgb(255, 0, 0);
    box-shadow: 20px 13px 10px rgb(83, 4, 4);
}
.box-2 {
    background-color: rgb(0, 139, 139);
    box-shadow: 20px 13px 12px rgb(8, 59, 59);
}
.box-3 {
    background-color: rgb(2, 255, 36);
    box-shadow: 20px 13px 12px rgb(26, 102, 7);
}
.box-4 {
    background-color: rgb(255, 166, 1);
    box-shadow: 20px 13px 14px rgb(124, 78, 8);
}
.box-5 {
    background-color: rgb(0, 102, 255);
    box-shadow: 20px 13px 14px rgb(13, 64, 105);
}
.box-6 {
    background-color: rgb(173, 0, 253);
    box-shadow: 20px 13px 14px rgb(74, 0, 97);
}

