*{
    margin: 0%;
    padding: 0%;
}
.img-100 {
    width: 100%;
    text-align: center;
}
.h {
    text-align: center;
}
.img-yz {
    width: 30%;
}
.img-xtz660 {
    width: 30%;
}
.img-mt09 {
    width: 30%;
}
.img-xtz250 {
    width: 30%;
}
