* {
    margin: 0%;
    padding: 0%;
}

.box-img {
    width: 29%;
    margin: 30px 2.075%;
    display: inline-block;
    vertical-align: top;
}

.img-style {
    width: 100%;
    border: solid transparent;
    border-radius: 4%;
}
.in {
    background-color: rgb(5, 106, 236);
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 150%;
}
h1 {
    text-align: center;
    background-color: rgb(5, 106, 236);
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 300%;

}
h2,
h3 {
    text-align: center;
}

p {
    text-align: center;
    justify-content: center;
}