.box-header{
    gap: 10px;
    display: grid;
    grid-template: "logo  home  pod   biblioteca vacio  busqueda btn-descargar btn-inicio"80px
                    "img  img   img   img        img    img      img           img"       600px/
                    300px 150px 150px 150px      1fr    250px    250px         250px;
}
.box{
    border-radius: 6px;
}
.logo{
    grid-area: logo;
    background-color:aquamarine;
}
.home{
    grid-area: home;
    background-color: blueviolet;
}
.pod{
    grid-area: pod;
    background-color: rgb(194, 129, 255);
}
.biblioteca{
    grid-area: biblioteca;
    background-color: rgb(157, 118, 194);
}
.vacio{
    border-radius: 6px;
    grid-area: vacio;
    background-color: rgb(0, 0, 0);
}
.busqueda{
    grid-area: busqueda;
    background-color: rgb(139, 139, 139);
}
.btn-descargar{
    background-color: black;
    grid-area: btn-descargar;
}
.btn-inicio{
    background-color: blue;
    grid-area: btn-inicio;
}
.img{
    grid-area: img;
    background-color: brown;
}
.texto-grid{
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}