* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgba(255, 255, 255, 0.404);
}
nav {
    font-size: 1.5em;
    background-color: rgb(157, 179, 172);
}
nav ul {
    width: 100%;
    background-color: rgb(157, 179, 172);
    justify-content: center;
    align-items: center;
    list-style: none;
    display: inline-block;
    position: absolute;
    background-color: rgb(157, 179, 172);
}
nav a {
    text-decoration: none;
    color: white;
    padding: 0 2.2em; 
    color: white;
    margin: 5px;
    padding-left: 40px;
    padding-right: 40px;
    display: inline-block;
}

/*meno primer nivel*/
nav > ul > li {
    float: left;
    width: 320px;
    position: relative;
    left: 100px;
    line-height: 70px;
    /* float: left;
    
    line-height: 70px;
    position: relative;
    left: 100px; */

}
nav li {
    position: relative;
}

nav li li {
    max-height: 0;
    overflow: hidden;
    transition: all 1s;
}

nav li:hover>ul>li {
    visibility: visible;
    max-height: 100px;
    overflow: visible;
}

nav ul ul ul {
    left: 100%;
    top: 0;
}

a:hover {
    color: rgb(139, 219, 194);
}

/* .boderA {
    border-right: 1px solid rgb(255, 255, 255);
} */

.icon-style {
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding-left: 180px;
    height: -10px;
    top: 20px;
    margin: 0;
    padding: 0;
    padding-top: 20px;

}

.icon-style:hover {
    cursor: pointer;
    color: rgb(90, 104, 114);
    float: left;
}

/* li {
    border-bottom: 1px solid rgb(255, 255, 255);
} */