* {
    margin: 0%;
    padding: 0%;
    font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
}

@font-face {
    font-family: "Poppins";
    src: url(/fonts/Poppins-Light.ttf);
}

.cont-slider {
    position: relative;
    display: flex;
    align-items: center;
    gap: 40px;
    width: 90%;
    justify-content: center;
    padding: 0px 40px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    margin-left: 30px;

}

.slider-izq,
.slider-der {
    width: 5%;
    z-index: 1;
}

.slider-izq i,
.slider-der i {
    font-size: 4.125vw;
}

.slider-screen{
    width: 65%;
    border-radius: 12px;
    box-shadow: 5px 5px 25px black;
    overflow: hidden;

}
.slider{
    display: flex;
    width: 400%;
}

.slider .img-spiderman{
    width: 25%;
}


/*CABEZERA*/
.header {
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    border-bottom: 0.13020833333333334vw solid rgba(116, 116, 116, 0.664);
}

.barra {
    position: relative;
    background-color: rgb(255, 255, 255);
    height: 5.729166666666667vw;
    width: 100%;
    gap: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: grid;
    grid-template: "empty-1 logo  colec  men    women   nosotros   contacto   empty-2    menu  foto  empty-3" 100%/
        1fr 15.625vw 7vw 5.79vw 5.79vw 5.79vw 5.79vw 1fr 3.65vw 3.65vw 1fr;
}

.icon-style {
    color: black;
    font-size: 1.9714656290531778vw;
    cursor: pointer;
}


.colec,
.men,
.women,
.nosotros,
.contacto {
    height: 1.70vw;
    background-color: rgb(255, 255, 255);
}

.logospi {
    width: 13.020833333333334vw;
}

.logo {
    grid-area: logo;
}

.colec {

    grid-area: colec;
}

.men {

    grid-area: men;
}

.women {

    grid-area: women;
}

.nosotros {
    grid-area: nosotros;
}

.contacto {

    grid-area: contacto;
}

.menu {
    grid-area: menu;
}

.foto {
    grid-area: foto;
    height: 2.723vw;
}

.fotoMia {
    width: 2.8vw;
    height: 2.8vw;
    border-radius: 50%;
}

li {
    list-style: none;
    transition: padding 0.2s;
}


li:hover {
    cursor: pointer;
    padding-bottom: 2.17vw;
    border-bottom: 4px solid rgb(0, 183, 255);
    transition: padding-bottom 0.2s;
}

.texto-grid {
    color: rgba(36, 36, 36, 0.877);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9603841536614646vw;
    cursor: pointer;
    font-weight: 700;
    text-decoration: none;
}