* {
    margin: 0%;
    padding: 0%;
    font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
}

@font-face {
    font-family: Poppins;
    src: url(/fonts/Poppins-Light.ttf);
}


.slider-- {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6vw;
    padding: 0vw 2.08vw;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.slider-der,
.slider-izq {
    font-size: 4.125vw;
}

.slider-der i,
.slider-izq i {
    width: 100%;
}

.slider-screen {
    width: 75%;
}

.slider-screen img {
    width: 100%;
}



/*CABEZERA*/
.header {
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    border-bottom: 0.13020833333333334vw solid rgba(116, 116, 116, 0.664);
}

.barra {
    position: relative;
    background-color: rgb(255, 255, 255);
    height: 5.729166666666667vw;
    width: 100vw;
    gap: 0.52vw;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: grid;
    grid-template: "empty-1 logo  colec  men    women   nosotros   contacto   empty-2    menu  foto  empty-3" 100%/
        1fr 15.625vw 7vw 5.79vw 5.79vw 5.79vw 5.79vw 1fr 3.65vw 3.65vw 1fr;
}

.icon-style {
    color: black;
    font-size: 1.9714656290531778vw;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}


.colec,
.men,
.women,
.nosotros,
.contacto {
    height: 1.70vw;
    background-color: rgb(255, 255, 255);
    
}

.logospi {
    width: 13.020833333333334vw;
}

.logo {
    height: 100%;
    grid-area: logo;
    display: flex;
    align-items: center;
    justify-content: center;
}

.colec {

    grid-area: colec;
}

.men {

    grid-area: men;
}

.women {

    grid-area: women;
}

.nosotros {
    grid-area: nosotros;
}

.contacto {

    grid-area: contacto;
}

.menu {
    grid-area: menu;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foto {
    grid-area: foto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fotoMia {
    width: 2.8vw;
    height: 2.8vw;
    border-radius: 50%;
}

li {
    list-style: none;
    transition: padding 0.2s;
}


li:hover {
    cursor: pointer;
    padding-bottom: 2.17vw;
    border-bottom: 0.208vw solid rgb(0, 183, 255);
    transition: padding-bottom 0.2s;
}

.texto-grid {
    color: rgba(36, 36, 36, 0.877);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9603841536614646vw;
    cursor: pointer;
    font-weight: 700;
    text-decoration: none;
}