.letter-style {
    /* */
    font-size: 2em; 
    color:rgb(0, 0, 0);
}
.name-style {
    /* color: rgb(64,64,64.8);*/ 
}
   /* ejemplo de clase de elemento*/
h2 {
    color: red;
}
 /* ejemplo de clase atada */
h2.name-style {
    color: blue;
}
/* ejemplo de clase no atada*/
.text-Style {
    color: darkcyan;
}
 /* ejempolo de utilzado en id */
#textStyle {
    color: violet;
}