* {
    padding: 0%;
    margin: 0%;
    font-family: "Poppins", sans-serif;
}

.color1 {
    color: #121728;
}

.color2 {
    color: #123b52;
}

.color3 {
    color: #146786;
}

.color4 {
    color: #1da4bf;
}

.color5 {
    color: #20dbd8;
}

body {
    overflow-y: hidden;
}

html {
    scroll-behavior: smooth;

}

.fondo {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -2;
    top: 0%;
    filter: blur(0px);

}

/*CABEZERA*/
header {
    top: 0;
    position: absolute;
    width: 100%;
    height: 80px;
    align-items: center;
    background-color: #121728;
    border-bottom: 2px solid rgba(116, 116, 116, 0.664);
    display: grid;
    grid-template: "empty-1   logo    empty-4    home     about    metas      proyectos      contacto   empty-3" 100%/
        40px 15% 1fr 88px 88px 88px 88px 88px 40px;
}

h2 {
    font-size: 1.9vw;
    font-weight: 600;
    color: rgb(53, 203, 234);
}

.home,
.about,
.metas,
.proyectos,
.nosotros,
.contacto {
    height: 26.112px;
}

/* .logospi {
    width: 13.020833333333334vw;
} */

.logo {
    height: 100%;
    grid-area: logo;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home {

    grid-area: home;
}

.about {

    grid-area: about;
}

.metas {

    grid-area: metas;
}

.proyectos {
    grid-area: proyectos;
}

.contacto {

    grid-area: contacto;
}

.encabezado {
    color: rgba(255, 255, 255, 0.877);
    text-decoration: none;
}

.hover1:hover {
    cursor: pointer;
    padding-bottom: 28.7px;
    border-bottom: 0.208vw solid rgb(53, 203, 234);
    transition: padding-bottom 0.2s;
}

.texto-grid {
    color: rgba(255, 255, 255, 0.877);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .9em;
    cursor: pointer;
    text-decoration: none;
    list-style: none;

}

/*SOBRE MI*/
main::-webkit-scrollbar {
    width: 9px;
    background-color: #ffffff00;
    height: 100vh;
}

main::-webkit-scrollbar-thumb {
    background-color: #484b4d;
    width: 11px;
    border-radius: 4px;
    border-right: 3px solid #18417191;
}

main {
    margin-top: 81px;
    overflow-y: scroll;
    width: 100%;
    height: calc(100vh - 82px);
}

.about-info {
    background-color: #a2ddff3f;
    position: relative;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template: "empty-1 tituloPri  foto2 empty-2" 100%/
        1.7fr 35% 25% 1fr;
    transition-property: clip-path;
    transition-duration: 1s;
    clip-path: circle(45% at center);
    padding-bottom: 100px;
}

@keyframes circle-in-hesitate {
    0% {
        clip-path: circle(0%);
    }

    40% {
        clip-path: circle(40%);
    }

    100% {
        clip-path: circle(125%);
    }
}

[transition-style="in:circle:hesitate"] {
    animation: 5s cubic-bezier(.25, 1, .30, 1) circle-in-hesitate both;
}

.about-info:hover {
    background-color: #77c6ff44;
    clip-path: circle(100% at top center);

}

.fondo:hover>.about-info {
    filter: blur(15px);
}

.linksAbout {
    display: flex;
    align-items: center;
    width: 40%;
    height: 75px;
}

.boxint,
.boxGit {
    width: 75px;
    height: 75px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.linkGit {
    text-align: center;
    justify-content: center;
    font-size: 2.8em;
    background-color: #0a1c27;
    color: aliceblue;
    border-radius: 50%;
    text-decoration: none;
    width: 50px;
    height: 50px;

}

.linkIn {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    background-color: #0a1c27;
    color: aliceblue;
    border-radius: 50%;
    text-decoration: none;
    width: 50px;
    height: 50px;
}

.linkGit:hover,
.linkIn:hover {
    background-color: rgb(53, 203, 234);
    width: 60px;
    height: 60px;
    transition: ease-in .2s;
}

.linkGit:hover {
    font-size: 3.3em;
}

.linkIn:hover {
    font-size: 2.5em;
}

.tituloPri {
    grid-area: tituloPri;
    width: 100%;
    height: 64%;
    display: flex;
    text-align: justify;
    flex-direction: column;
    display: flex;

}

.titulo {
    padding: 15px;
    font-size: 3.5em;
    color: rgb(53, 203, 234);
    word-spacing: 10px;
    text-align: left;
    text-shadow: 3px 3px 3px rgb(33, 43, 44);
}

.textHome {
    font-size: 1.3em;
    padding-left: 15px;
    display: flex;
    text-align: justify;
    font-weight: 600;
    color: aliceblue;
    text-shadow: 1px 1px 1px rgb(33, 43, 44);
}

.textHome:hover {
    font-weight: 800;
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 1px rgb(53, 203, 234);
}

.foto2 {
    top: 130px;
    border-radius: 170px;
    position: absolute;
    grid-area: foto2;
    display: flex;
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.ti-arrow-narrow-right {
    font-size: 1.8em;
    font-weight: 400;
    margin-left: 15px;
}

.foto2:hover {
    background-color: rgb(53, 203, 234);
    transition: ease-in-out .4s;
    animation: infinite ease-in-out .3s;
    width: 400px;
    height: 400px;
    cursor: pointer;
    border-radius: 200px;
}

.foto2 {
    transition: ease-in-out .3s;
}

.ftamaño {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    height: 80%;
    width: 80%;
    border-radius: 50%;
}

.ftamaño:hover {
    height: 90%;
    width: 90%;
    transition: ease-in-out .3s;
}

.skills {
    background-color: #121728;
    width: 250px;
    height: 60px;
    text-decoration: none;
    text-align: center;
    align-items: center;
    display: flex;
    color: white;
    justify-content: center;
    border-radius: 12px;
    font-weight: 600;
    font-size: 1.3em;
    box-shadow: 2px 2px 2px rgb(255, 255, 255);
}

.skills:hover {
    background-color: rgb(53, 203, 234);
    color: #ffffff;
    box-shadow: 2px 2px 2px rgb(255, 255, 255);
}

/* mas info */
.sobre {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgba(145, 193, 193, 0.234);
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-template: "tituloSkills tituloSkills tituloSkills tituloSkills"
        "empty-1 info  orgIconos empty-2"
        "footerSkills footerSkills footerSkills footerSkills";
    grid-template-columns: 1fr 40% 40% 1fr;
    grid-template-rows: 100px 1fr 200px;
}

.tituloSkills {
    width: 100%;
    height: 100px;
    grid-area: tituloSkills;
    align-items: center;
    justify-content: center;
    display: flex;
}

.footerSkills {
    background-color: rgb(119, 254, 0);
    grid-area: footerSkills;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: info;
    background-color: blueviolet;
    width: 100%;
    height: 100%;
    display: flex;

}

.orgIconos {
    grid-area: orgIconos;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #1da4bf;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tituloPortafolio {
    font-size: 3em;
    text-align: center;
    padding: 10px;
    color: rgb(53, 203, 234);
    text-shadow: 3px 3px 3px rgb(33, 43, 44);
}

.conte2 {
    width: 500px;
    height: 400px;
    display: flex;
    font-size: 1em;
    text-align: justify;
    align-items: center;
    color: #ffffff;
}

img {
    width: 80px;
    height: 80px;
}

.iconos {
    position: relative;
    text-align: center;
    width: 800px;
    height: 120px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: grid;
    background-color: #146786;
    grid-template: "ico1 ico2 ico3 ico4 ico5 ico6 ico7 ico8" 100px/
                    80px 80px 80px 80px 80px 80px 80px 80px;
}

.ico1 {
    display: flex;
    background-color: purple;
    grid-area: ico1;
    justify-content: center;
}

.ico2 {
    display: flex;
    background-color: red;
    grid-area: ico2;
    justify-content: center;
    justify-content: center;
}

.ico3 {
    display: flex;
    background-color: rgb(255, 247, 0);
    grid-area: ico3;
    justify-content: center;
    align-items: center;
}

.ico4 {
    display: flex;
    background-color: azure;
    grid-area: ico4;
    justify-content: center;
}

.ico5 {
    display: flex;
    background-color: aqua;
    grid-area: ico5;
    justify-content: center;
}

.ico6 {
    display: flex;
    background-color: aqua;
    grid-area: ico6;
    justify-content: center;
}

.ico7 {
    display: flex;
    background-color: aqua;
    grid-area: ico7;
    justify-content: center;
}

.ico8 {
    display: flex;
    background-color: aqua;
    grid-area: ico8;
    justify-content: center;
}


.contenido {
    padding-top: 30px;
    padding-bottom: 50px;
    justify-content: center;
    gap: 10px;
    display: grid;
    grid-template: "box-1 box-2 box-3"
        "box-4 box-5 box-6"
        "box-7 empty empty";
    grid-template-columns: 25% 25% 25%;
    grid-template-rows: 400px 400px 400px;

}

/* contenido links */

.box-1,
.box-2,
.box-3,
.box-4,
.box-5,
.box-6,
.box-7 {
    background-color: rgba(255, 255, 255, 0.582);
    border-radius: 15px;
    border: 4px solid rgb(58, 79, 80);
    ;
}

.box-1 {

    grid-area: box-1;
}

.box-2 {

    grid-area: box-2;
}

.box-3 {

    grid-area: box-3;
}

.box-4 {

    grid-area: box-4;
}

.box-5 {

    grid-area: box-5;
}

.box-6 {

    grid-area: box-6;
}

.box-7 {

    grid-area: box-7;
}

.titu {
    text-align: justify;
    justify-content: center;
    list-style: none;
}

h1 {
    font-size: 1.8em;
    font-family: "Poppins", sans-serif;
    text-align: center;
    padding: 10px;
    color: rgb(14, 246, 204);
    text-shadow: 3px 3px 3px rgb(33, 43, 44);
}

.licontenido {
    display: block;
    text-align: center;
    padding: 5px 20px;
}

.limenu {
    color: rgb(33, 43, 44);
    text-decoration: none;
    font-size: 1.3em;
    font-family: "Poppins", sans-serif;
    text-align: center;
    width: 1fr;
    padding: 5px 20px;

}

.limenu:hover {
    cursor: pointer;
    background-color: rgba(58, 79, 80, 0.637);
    color: rgb(255, 255, 255);
    border-radius: 8px;
    border-bottom: 3px solid rgb(14, 246, 204);
}

.contactoBox {
    position: relative;
    width: 100%;
    height: 500px;
    background-color: #1da4bf;
}

footer {
    position: relative;
    width: 100%;
    height: 180px;
    background-color: #121728;
}

@keyframes square-in-bottom-left {
    from {
        clip-path: inset(0 0 100% 100%);
    }

    to {
        clip-path: inset(0 0 0 0);
    }
}

[transition-style="in:square:bottom-left"] {
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) square-in-bottom-left both;
}

/* poppins-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/poppins-v20-latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-600 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v20-latin-600.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins-v20-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-800 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/poppins-v20-latin-800.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}