* {
    padding: 0%;
    margin: 0%;
}

html {
    scroll-behavior: smooth;
}

.fondo {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -2;
}

/*CABEZERA*/
.header {
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    border-bottom: 0.13020833333333334vw solid rgba(116, 116, 116, 0.664);
}

h2 {
    font-size: 1.7vw;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    color: rgb(14, 246, 204);
}

.barra {
    position: relative;
    background-color: #1b2223;
    height: 5.729166666666667vw;
    width: 100vw;
    gap: 0.52vw;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: grid;
    grid-template: "empty-1 logo  colec  men    women   nosotros   contacto   empty-2    menu  foto  empty-3" 100%/
        1fr 15.625vw 5.79vw 5.79vw 5.79vw 5.79vw 5.79vw 10% 3.65vw 3.65vw 1fr;
}

.icon-style {
    color: rgba(255, 255, 255, 0.877);
    font-size: 1.9714656290531778vw;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}


.colec,
.men,
.women,
.nosotros,
.contacto {
    height: 1.70vw;



}

.logospi {
    width: 13.020833333333334vw;
}

.logo {
    height: 100%;
    grid-area: logo;
    display: flex;
    align-items: center;
    justify-content: center;
}

.colec {

    grid-area: colec;
}

.men {

    grid-area: men;
}

.women {

    grid-area: women;
}

.nosotros {
    grid-area: nosotros;
}

.contacto {

    grid-area: contacto;
}

.menu {
    grid-area: menu;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foto {
    grid-area: foto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fotoMia {
    width: 2.8vw;
    height: 2.8vw;
    border-radius: 50%;
}

.encabezado {
    color: rgba(255, 255, 255, 0.877);
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

.hover1:hover {
    cursor: pointer;
    padding-bottom: 2.17vw;
    border-bottom: 0.208vw solid rgb(14, 246, 204);
    ;
    transition: padding-bottom 0.2s;
}

.texto-grid {
    color: rgba(255, 255, 255, 0.877);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9603841536614646vw;
    cursor: pointer;
    text-decoration: none;
    list-style: none;
    transition: padding 0.2s;
    font-family: "Poppins", sans-serif;
}

/*SOBRE MI*/
.Sobremi {
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.sobre {
    border-radius: 20px;
    position: relative;
    padding: 30px;
    width: 1300px;
    height: 800px;
    background-color: rgba(151, 193, 193, 0.696);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tituloPri {
    top: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    position: absolute;
}

.titulo {
    font-size: 3em;
    text-align: justify;
}

.conte2 {
    width: 500px;
    height: 400px;
    display: flex;
    font-size: 1.5em;
}

.foto2 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 480px;
    height: 350px
}

.ftamaño {
    height: 90%;
    width: 90%;
    border-radius: 30%;
}

.orgIconos {
    position: absolute;
    bottom: 0px;
    bottom: 50px;
    display: flex;
    width: 650px;
    height: 150px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

img {
    width: 80px;
    height: 80px;
}

.iconos {
    bottom: 5%;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    gap: 10px;
    display: grid;
    grid-template: "ico1 ico2 ico3 ico4 ico5" 100px/
        120px 120px 120px 120px 120px;
}

.ico1 {
    display: flex;
    background-color: purple;
    grid-area: ico1;
    justify-content: center;
}

.ico2 {
    display: flex;
    background-color: red;
    grid-area: ico2;
    justify-content: center;
    justify-content: center;
}

.ico3 {
    display: flex;
    background-color: blue;
    grid-area: ico3;
    justify-content: center;
    align-items: center;
}

.ico4 {
    display: flex;
    background-color: azure;
    grid-area: ico4;
    justify-content: center;
}

.ico5 {
    display: flex;
    background-color: aqua;
    grid-area: ico5;
    justify-content: center;
}


.contenido {
    padding-top: 30px;
    padding-bottom: 50px;
    justify-content: center;
    gap: 10px;
    display: grid;
    grid-template: "box-1 box-2 box-3"
        "box-4 box-5 box-6"
        "box-7 empty empty";
    grid-template-columns: 360px 360px 360px;
    grid-template-rows: 400px 400px 400px;

}

.box-1,
.box-2,
.box-3,
.box-4,
.box-5,
.box-6,
.box-7 {
    background-color: rgba(255, 255, 255, 0.582);
    border-radius: 15px;
    border: 4px solid rgb(58, 79, 80);
    ;
}

.box-1 {

    grid-area: box-1;
}

.box-2 {

    grid-area: box-2;
}

.box-3 {

    grid-area: box-3;
}

.box-4 {

    grid-area: box-4;
}

.box-5 {

    grid-area: box-5;
}

.box-6 {

    grid-area: box-6;
}

.box-7 {

    grid-area: box-7;
}

.titu {
    text-align: justify;
    justify-content: center;
    list-style: none;
}

h1 {
    font-size: 1.8em;
    font-family: "Poppins", sans-serif;
    text-align: center;
    padding: 10px;
    color: rgb(14, 246, 204);
    text-shadow: 3px 3px 3px rgb(33, 43, 44);
}

.licontenido {
    display: block;
    text-align: center;
    padding: 5px 20px;
}

.limenu {
    color: rgb(33, 43, 44);
    text-decoration: none;
    font-size: 1.3em;
    font-family: "Poppins", sans-serif;
    text-align: center;
    width: 1fr;
    padding: 5px 20px;

}

.limenu:hover {
    cursor: pointer;
    background-color: rgba(58, 79, 80, 0.637);
    color: rgb(255, 255, 255);
    border-radius: 8px;
    border-bottom: 3px solid rgb(14, 246, 204);
}

@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-regular.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/poppins-v20-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/poppins-v20-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/poppins-v20-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/poppins-v20-latin-regular.svg#Poppins') format('svg');
    /* Legacy iOS */
}
