*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: rgb(0, 20, 67);
}
.container-1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.conteScore{
    position: relative;
    width: 55%;
    height: 130px;
    margin-top: 30px;
    border: 8px solid rgb(0, 119, 255);
    border-radius: 10px;
    background-color: rgb(6, 15, 47);
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.score > h1 {
    font-size: 2em;
    line-height: 30px;
}
.score{
    flex-direction: column;
    justify-content: right;
    display: flex;
    place-content: center;
    width: 160px;
    height: 120px;
    margin-left: 15px;
    padding-left: 15px;
    color: white;
    text-align: justify;
}
.marcador{
    margin-right: 30px;
    width: 100px;
    height: 100px;
    background-color: rgb(3, 9, 61);
    color: white;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid white;
    border-radius: 7px;
}
.marcador > span{
    font-size: 1em;
    line-height: 25px;
    font-weight: 600;
}
.opciones{
    margin-top: 40px;
    width: 1000px;
    height: 500px;
    background-color: rgb(122, 193, 255);
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template:"boxTijera boxTijera"
                    "boxPiedra boxPapel";
    grid-template-columns: 240px 240px;
    grid-template-rows: 215px;
}
.tijera,.piedra, .papel{
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 119px;
    width: 150px;
    height: 150px;
    background-color: rgb(254, 254, 254);
    border: 15px solid rgb(255, 106, 0);
    cursor: pointer;
    transition: ease-in .1s;
}

.boxTijera{
    grid-area: boxTijera;
    width: 100%;
    height: 215px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.boxPiedra{
    grid-area: boxPiedra;
    width: 100%;
    height: 215px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.boxPapel{
    grid-area: boxPapel;
    width: 100%;
    height: 215px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.piedra:hover{
    translate: x 10px;
    background-color: blue;
    width: 180px;
    height: 180px;
    border-radius: 150px;
}
.papel:hover{
    background-color: rgb(255, 225, 0);
    width: 180px;
    height: 180px;
    border-radius: 150px;
}
.tijera:hover{
    background-color: rgb(255, 0, 0);
    width: 180px;
    height: 180px;
    border-radius: 150px;

} 
i{
    font-size: 7em;
    color: rgb(0, 20, 81);
}























/* poppins-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-regular.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/poppins-v20-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/poppins-v20-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/poppins-v20-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/poppins-v20-latin-regular.svg#Poppins') format('svg');
    /* Legacy iOS */
}

